$primary-color: #d76600;

@mixin flex($direction, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $align;
}

@mixin poppins() {
    font-family: poppins;
}

@mixin poppinsBold() {
    font-family: poppinsBold;
}

@mixin poppinsLight() {
    font-family: poppinsLight;
}

@font-face {
    font-family: poppins;
    src: url("/src/fonts/poppins.otf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: poppinsLight;
    src: url("/src/fonts/Poppins-Light.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: poppinsBold;
    src: url("/src/fonts/Poppins-Bold.ttf");
    font-style: normal;
    font-display: swap;
}